go 1.25.3

use (
	./_shared
	./_testdb
	./bills
	./bills-publisher
	./calendar
	./config
	./daily-fetch
	./device-register
	./estimates
	./hansard-backfill
	./hansard-subjects-index
	./health
	./live-status
	./loader
	./manifest
	./member-content
	./member-speeches
	./member-speeches-publisher
	./member-votes
	./member-votes-publisher
	./members
	./members-publisher
	./observability
	./on-this-day
	./openapi
	./riding-boundary
	./search
	./sittings
	./sittings-publisher
	./topic-notifier
	./toronto-council
	./unloader
	./vancouver-council
)
