go 1.25.3

use (
	./_shared
	./_testdb
	./bills
	./bills-indexer
	./bills-publisher
	./calendar
	./config
	./daily-fetch
	./estimates
	./hansard-backfill
	./hansard-search
	./hansard-search-index
	./hansard-subjects-index
	./health
	./live-vote-poller
	./loader
	./lobbying
	./lobbying-index
	./manifest
	./member-content
	./member-lobbying
	./member-speeches
	./member-speeches-publisher
	./member-votes
	./member-votes-publisher
	./members
	./members-indexer
	./members-publisher
	./observability
	./on-this-day
	./openapi
	./push-notification-dispatcher
	./riding-boundary
	./senators
	./sittings
	./sittings-publisher
	./telemetry
	./toronto-council
	./unloader
	./vancouver-council
)
