<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconGold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGold</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconGold</string>
			</dict>
			<key>AppIconRed</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconRed</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconRed</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconGold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGold</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconGold</string>
			</dict>
			<key>AppIconRed</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconRed</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconRed</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cabinetdoor</string>
			</array>
			<key>CFBundleURLName</key>
			<string>net.dinglebox.cabinetdoor</string>
		</dict>
	</array>
	<key>BGTaskScheduler-permitted-identifiers</key>
	<array>
		<string>net.dinglebox.cabinetdoor.refresh</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>today</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>quick.action.today.title</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>calendar</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>my-mp</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>quick.action.mymp.title</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>person.fill</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>search</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>quick.action.search.title</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>magnifyingglass</string>
		</dict>
	</array>
	<key>BackendBaseURL</key>
	<string>$(BACKEND_BASE_URL)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>epac adds House of Commons sitting days to your calendar.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>epac adds House of Commons sitting days to your calendar.</string>
</dict>
</plist>
